
.background{
    background-color: hsl(275, 100%, 97%);
}
.pattern{
    background-image: url('./assets/images/background-pattern-desktop.svg');
}
.contentshow{
    height: auto;
    transition: all 0.5s cubic-bezier(1,0,1,0);
}

@media screen and (max-width: 400px) {
    .pattern{
        background-image: url('./assets/images/background-pattern-mobile.svg');
    }
}